{% extends '_base.html' %}

{% block main %}
<div class="container mt-4">
    <h1>Рекомендовані тури</h1>
    
    <div class="row">
        {% for tour in tours %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ tour.image }}" class="card-img-top" alt="{{ tour.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ tour.name }}</h5>
                    <p class="card-text">{{ tour.desc | truncate(100) }}</p>
                    <p class="card-text"><strong>Ціна: {{ tour.price }} грн</strong></p>
                    <a href="{{ url_for('tour_detail', tour_id=tour.id) }}" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}